:host {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    &:nth-child(odd) {
        .block {
            &:nth-child(odd) {
                background: #fff;
                color: #000;
            }
            &:nth-child(even) {
                background: #000;
                color: #fff;
            }
        }
    }
    &:nth-child(even) {
        .block {
            &:nth-child(even) {
                background: #fff;
                color: #000;
            }
            &:nth-child(odd) {
                background: #000;
                color: #fff;
            }
        }
    }
}

.block {
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &.active {
        background: gray !important;
    }
}