:host {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    &:nth-child(odd) {
        .column {
            &:nth-child(odd) {
                background: #eccb45;;
                color: red;
            }
            &:nth-child(even) {
                background: #e15049;
                color: red;
            }
        }
    }
    &:nth-child(even) {
        .column {
            &:nth-child(even) {
                background: #eccb45;
                color: red;
            }
            &:nth-child(odd) {
                background: #e15049;
                color: red;
            }
        }
    }
}

.column {
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}