:host {
    width: 100%;
    flex-grow: 1;
    cursor: pointer;
}

.player0 {
    width: 100%; height: 100%;
    box-sizing: border-box;
    border: 2px solid red;
}

.player1 {
    width: 100%; height: 100%;
    box-sizing: border-box;
    border: 2px solid blue;
}