:host {
    width: 100%;
    flex-grow: 1;
    cursor: pointer;
}

.piece {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player0 {
    width: 100%; height: 100%;
    box-sizing: border-box;
    color: #fff;
}

.player1 {
    width: 100%; height: 100%;
    box-sizing: border-box;
    color: #000;
}

.icon {
    font-size: 32px;
}